@charset "UTF-8";
html{width: 100vw; height: 100vh;}
body{position: relative; width: 100%; font: 16px/1.6 'PT Sans', 'Nanum Gothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;}
header{width: 100%; height: 80px; line-height: 80px; text-align: center; background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); font-size: 28px; color: #fff;}
#container{width: 100%; height: calc(100vh - 160px); background-color: #EFEEF5;}
ul.shopList-wrap{display: block;}
li.shopList{display: block;}
li.shopList::after{content: ''; display: table; clear: both;}
span.listTitle{float: left; width: 80%;}
span.listDel{float: left; width: 20%;}

footer{position: fixed; bottom: 0; width: 100%; height: 80px; background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);}
div.textInput-wrap{width: 100%; height: 30px;}
div.textInput-wrap input[type=text]{display: block; width: 100%; height: 100%; border: none; padding: 0 20px;}
div.addBtn-wrap{width: 100%; height: 50px; position: relative;}
button.addBtn{position: absolute; top: 50%; left: 50%; width: 40px; height: 40px; background: url(../img/add.png) no-repeat 50% 50%; background-size: cover; transform: translateX(-50%) translateY(-50%); border: none; cursor: pointer;}